OXY_WSA_USERNAME=
OXY_WSA_PASSWORD=

OXY_UNBLOCKER_USERNAME=
OXY_UNBLOCKER_PASSWORD=

OXY_DC_USERNAME=
OXY_DC_PASSWORD=

OXY_RESI_USERNAME=
OXY_RESI_PASSWORD=

OXY_MOBILE_PASSWORD=
OXY_MOBILE_PASSWORD=

OXY_DC_IPS_API_LINK=
OXY_DC_IPS_LIST=